.sidebar {
  width: 200px;
  background-color: #9d9ea0;
  padding: 20px;
  color: rgb(248, 244, 244);
  height: 100vh;
}

.sidebar-header {
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

.sidebar-menu li:hover {
  background-color: #5482c7; /* Change to your desired hover color */
  
}

.sidebar-menu li.active {
  background-color: #528be0; /* Highlight color for active item */
}

.sidebar-menu li a {
  color: rgb(8, 8, 8);
  text-decoration: none;
  display: block; /* Makes the entire list item clickable */
  padding: 10px; /* Adds some padding for better click area */
  transition: color 0.3s ease;
}

/* Active link styling: Make text white when the item is active */
.sidebar-menu li.active a {
  color: white; /* Ensures text stays white when the item is active */
}

.sidebar-menu li a:hover {
  text-decoration: underline;
  color: white; /* Ensure the text turns white when hovered */
}


.sidebar-header img.sidebar-logo {
  width: 100%;  /* Adjust the size of the logo */
  max-width: 180px;  /* Optional: limits the size */
  height: auto;
  display: block;
  margin: 0 auto;  /* Centers the logo horizontally */
}